<div class="base">
    <h1>Faculty</h1>
    <div>
        <h3>{{desc}}<br>{{designation}}</h3>
        <hr>
        <span>{{qualification}}</span><hr>
        <span><br>{{experience}}</span><hr>
    </div>
    <br>
    <table style="width: 100%;">
        <tr>
            <td>
                <button type="button" name="btn1" id="btn1" (click)="display('btn1')"><img src="../assets/Profile1.png">
                    <br>
                    <span>Akshay Rao</span></button>
            </td>
            <td>
                <button type="button" name="btn2" id="btn2" (click)="display('btn2')"><img src="../assets/Profile2.jpg">
                    <br>
                    <span>Ruthik Shetty</span></button>
            </td>
            <td><button type="button" name="btn3" id="btn3" (click)="display('btn3')"><img src="../assets/Profile3.jpg">
                    <br>
                    <span>Danish Sheikh</span></button></td>
            <td><button type="button" name="btn4" id="btn4" (click)="display('btn4')"><img src="../assets/Profile4.jpg">
                    <br>
                    <span>Sharan R</span></button></td>
            <td><button type="button" name="btn5" id="btn5" (click)="display('btn5')"><img src="../assets/Profile5.jpg">
                    <br>
                    <span>Karan U</span></button></td>
        </tr>
    </table>
</div>