<div class="base">
        <table border="1" width="100%" cellspacing="0">
            <tr>
                <td colspan="2" class="data" style="background-color: rgb(95, 141, 226);">

                    <table>
                        <tr>
                            <td><img src="../assets/Home.jpg" alt="" height="120px" width="160px" id="img"></td>
                            <td style="text-align: justify;">
                                <p> 11-03-2011 - Launching the MFA in filmmaking</p>
                                Announcing a unique 2 year onlien brief residency MFA,BFA and Diploma program in film
                                making led by award winning independent producer/director/screenwriter and educator
                                Wayne Crawford.Program Highlights: A personalized film education for the training of
                                directors/producers/writers. Emphasis on developing the complete film maker well versed
                                in story and story-structure. A 10-day residence at our campus in paris,France.
                                Write,produce and direct 3 films of your...

                            </td>
                        </tr>
                    </table>

                </td>
                <td>
                    <form id="frm">
                        <fieldset style="border-radius: 10px; padding: 5px;">
                            
                            <b style="text-align: center;padding-left: 5px;text-decoration: solid;"> Online learning portal</b><br>
            
                            User Name:
                            <br>
                            <input type="text" name="user" id="user" placeholder="user name" required /><br>
                            Password
                            <br>
                            <input type="password" name="pass" id="pass" placeholder="password here" required />
                            <br><br>
                            <button style="text-align: center;" type="submit" id="submit">Login</button>
                        </fieldset>
                    </form> 
                </td>
            </tr>
            <tr>
                <td rowspan="3" class="data" style="width: 40%;text-align: justify;">
                    <h1>Welcome!</h1>
                    <div class='blue' style="text-align: justify;">
                        Are you looking for a degree that is valuable fully online,that is going to make an impact in
                        your life and in your job?
                    </div><br>
                    <div class='second blue' style="text-align: justify;">
                        Are you looking for something different,modern,truly international yet adapted to you and your
                        culture?
                    </div>
                    <br>
                    <div class='third' style="text-align: justify;">
                        Horizons university has the solution for you
                    </div><br>
                    <div class='fourth' style="text-align: justify;">
                        Our mission is to provide educational experience that fits our students needs in any part of the
                        world and contribute to their personal and professional fulfillment.



                    </div><br>
                    <div class='fifth' style="text-align: justify;">
                        we provide programs that are flexible in time, that take into account person's experience and
                        that are affordable. we are specialized in distant education but also offer on-campus programs.
                    </div><br>
                    <div class="last" style="background-color: rgb(147, 214, 236);text-align: justify;">
                        <img src="../assets/folder.jpg" alt="" height="40px" width="40px">

                        <a>click here for more detailed course information</a>

                    </div>
                </td>
                <td class="data" style="background-color: rgb(146, 172, 221);width: 600px;text-align: justify;">
                    <table>
                        <tr>

                            <td>
                                <h2 style="color: darkblue;">Campus Study</h2>
                                <div style="text-align: justify;"> our on-class programs allow you to interact with
                                    faculty and other students during residency periods and complete your periods
                                    online.It will another
                                    flexible solution that will certainly enhance your professional life.</div>

                            </td>
                            <td>
                                <img src="../assets/campus.jfif" alt="" height="130px" width="160px">
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
            <tr>

                <td class="data" style="background-color:rgb(95, 141, 226) ;">
                    <table>
                        <tr>
                            <td> <img src="../assets/study.jpg" alt="" height="130px" width="160px"></td>
                            <td style="padding-left: 10px;">
                                <h2 style="color: darkblue;text-align: justify;">Online Study</h2>
                                <div style="text-align: justify;">
                                    our online programs allows you to work at your own pace while you keep your job and
                                    your activities. You can pursue quality education without leaving home.This option
                                    is also less costly and available in any country int the world where you live.

                                </div>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
            <tr>
                <td class="data" style="background-color: rgb(146, 172, 221);">
                    <table>
                        <tr>
                            <td>
                                <img src="../assets/life.png" alt="" width="200px" height="72px" style="float: left;">
                                <h3>Experience the new Virtual Campus</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div
                                    style="text-align: justify; background-color: white;border:solid rgba(109, 128, 231, 0.918);border-radius: 17px;margin-top: 2px;padding-left: 3px;">
                                    Horizons university is one of the rare universities in the world to offer entire
                                    course modules in virtual campus, along with live presentations from keynote
                                    speakers, facilitating learning, communication and interaction amongst the
                                    community.

                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</div>