<div class="base">
    
    <div class="grid-container">
        <div class="grid-item">
            <h1> Campus programs</h1>
        </div>
        <div class="grid-item">
            <h1> Online programs</h1>
        </div>
        <div class="grid-item">
            <h4>Deep Learning</h4>
            <img src="../../assets/deepl.jpg" height="200px" width="360px"><br>
            <i style="font-size: medium; font-weight: 200;">Course fee: Rs.3000</i>
            <br>
            <i style="font-size: medium;">Starts from 03-11-2021</i>
            <br>
        </div>
        <div class="grid-item">
            <h4>Web development</h4>
            <img src="../../assets/webd.jpg" height="200px" width=360px><br>
            <i style="font-size: medium; font-weight: 200;">Course fee: Rs.3000</i>
            <br>
            <i style="font-size: medium; font-weight: 200;">Starts from 05-11-2021</i>
            <br>
        </div>
        <div class="grid-item">
            <h4>Data structure and algorithm</h4>
            <img src="../../assets/data.png" height="200px" width="360px"><br>
            <i style="font-size: medium; font-weight: 200;">Course fee: Rs.2000</i>
            <br>
            <i style="font-size: medium; font-weight: 200;">Starts from 02-11-2021</i>
            <br>
        </div>
        <div class="grid-item">
            <h4>Machine Learning</h4>
            <img src="../../assets/machinel.jpg" height="200px" width="360px"><br>
            <i style="font-size: medium; font-weight: 200;">Course fee: Rs.4000</i>
            <br>
            <i style="font-size: medium; font-weight: 200;">Starts from 07-11-2021</i>
            <br>
        </div>
        <div class="grid-item">
            <h4>Basic Logic Gates</h4>
            <img src="../../assets/gates.jpeg" height="200px" width="360px"><br>
            <i style="font-size: medium; font-weight: 200;">Course fee: Rs.8000</i>
            <br>
            <i style="font-size: medium; font-weight: 200;">Starts from 09-11-2021</i>
            <br>
            <b style="font-size: medium; font-weight: 200;">Register before 2-11-2021</b>
        </div>
        <div class="grid-item">
            <h4>Pic microcontroller basics</h4>
            <img src="../../assets/pic.webp" height="200px" width="360px"><br>
            <i style="font-size: medium; font-weight: 200;">Course fee: Rs.9000</i>
            <br>
            <i style="font-size: medium; font-weight: 200;">Starts from 09-11-2021</i>
            <br>
            <b style="font-size: medium; font-weight: 200;">Register before 2-11-2021</b>
        </div>
    </div>
</div>